@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

.background {
  background-color: white;
  padding: 20px;
  border-radius: 0px;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.5);
}

body {
  padding: 70px 0px;
  text-align: justify;
  font-size: 11px;
  line-height: 22px;
  color: #808080;
  font-family: "Poppins";
  background-color: lightgrey;
  width: 700px;
  margin: auto;
  background-image: url("CSS/23.jpg");
  background-size: cover;
  background-repeat: no-repeat;

}

.heading {
  text-align: left;
  text-transform: uppercase;
  letter-spacing: .3em;
  color: gray;
  line-height: 0.3em;

}

.result {
  text-align: center;
  margin: 0;
  position: relative;
}

.studentinfo {
  text-align: center;
  font-size: 11px;
  color: black;
  line-height: 1.5em;
}

a:link {
  text-decoration: none;
  color: black;
}

a:hover {
  color: gray;
}

.row {
  display: flex;
}

.column {
  flex: 33.33%;
  padding: 5px;
}
